*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

video{
    position: fixed;
    min-width: 100%;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.content{
    color: white;
    text-align: center;
    margin-top: 250px;
}

h1{
    padding: 10px;
    background: rgba(0, 0, 0, 0.833);
    display: inline;
    border-radius: 5px;
}

button{
    background: rgba(0, 0, 0, 0.833);
    margin-top: 50px;
    width: 200px;
    border-radius: 10px;
    border: 1px solid black;
    font-size: 20px;
    color: antiquewhite;
    padding: 10px;
}